::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #bbb;
	height: 100px;
	border-radius: 30px;
}

::-webkit-scrollbar:horizontal {
	height: 4px;
}

::-webkit-scrollbar-track:horizontal {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb:horizontal {
	background: #bbb;
	border-radius: 30px;
	width: 100px;
}
